@model SampleTracking.Models.Sample

@{
    ViewData["Title"] = "Новый пользователь";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Create" asp-controller="Sample">
    <div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="No_"></label>
            <input asp-for="No_" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>

<div>
    <a asp-controller="Home" asp-action="Index">Вернуться к списку</a>
</div>